.card {
 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .container {
    
    width: 650px;
    margin: 2rem;
    transition: 0.3s;
    
  }

  .container > a >img {

   /* border-radius: 0.5rem; */
  }



  .titulocard{
   
  font-size: 32px !important;
  font-family: Mabry, Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-bottom: .5rem !important;
  text-transform: uppercase;


  }
/*
  .textocard{

    font-size: 16px;
    font-family: Mabry, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(44,44,44);
    letter-spacing: -.2px;
    line-height: 1.5;
    margin: 0;
    font-weight: 500;
    margin-top: 0.75rem!important;
  }
 */
  .tagscard{

    font-size: 14px;
    font-family: Mabry, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgba(40,40,40,0.5);
    text-transform: uppercase;


  }

  .tags{
    display: inline-block;
    margin-top: .5rem !important;
  }



