.alinharfooter{

}

.textofooter{

    margin: 0;
    margin: 0;
    width:100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 3rem;
    overflow: hidden;


    
 

}

footer{
    color: rgb(40,40,40);
    background-color: #efede8;
    height: 15em;
    text-align: center;
    position: relative;
    overflow: hidden;
    

}
