
/* MOBILE */

  a {
    cursor: pointer;
    text-decoration: none;
  }


  .parent{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }

.centroyokailia{

    margin-top: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;

    
}

.titlecenter{

    margin: auto;
    margin-top: 2em;
    width:100%;
    text-align: center;
    font-family: SunrollB;
    font-size: 3.3em;  
}

.nextproject{

    font-family: Nunito;
    color: rgb(44,44,44);
    border: 2px solid rgb(44,44,44);

    margin-top: 15%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.5rem;
    text-align: left;
    padding: 16px 32px;
    border-radius: 980px;
   
}

.nextproject:hover{
  color: #ede9e1;
  background-color: rgb(44,44,44);
  
}


.descricaoyokailia{

    margin: auto;
    margin-top: 4em;
    text-align: left;
    line-height: 150% ;
    display: inline-block;
    font-size: 1em;
    font-family: Nunito;
    color: rgb(44,44,44);


  
}

.descricaoythanks{

    margin: auto;
    margin-top: 4em;
    text-align: left;
    position: absolute;
    font-size: 1em;
    font-family: Kenoky;
    color: rgb(44,44,44);


  
}


    .tamanhodesenho{

        width: 100%;
        height: auto;
        border: 0.5px solid rgb(44,44,44);
        border-radius: 20px;
    }


